LatestService/WebContent/wsdl/UserValidateServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:tns1="http://vo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://vo.com"/>
   <element name="validateUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateUserResponse">
    <complexType>
     <sequence>
      <element name="validateUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://vo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="middleName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateUserResponse">

      <wsdl:part element="impl:validateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateUserRequest">

      <wsdl:part element="impl:validateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserValidateServiceImpl">

      <wsdl:operation name="validateUser">

         <wsdl:input message="impl:validateUserRequest" name="validateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateUserResponse" name="validateUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserValidateServiceImplSoapBinding" type="impl:UserValidateServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserValidateServiceImplService">

      <wsdl:port binding="impl:UserValidateServiceImplSoapBinding" name="UserValidateServiceImpl">

         <wsdlsoap:address location="http://localhost:8088/LatestService/services/UserValidateServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
